<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material-UI with Google Font</title>

    <!-- Material-UI (MUI) CSS and JavaScript -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>

    <!-- Google Fonts - Roboto -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
            rel="stylesheet"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/colors/3.0.0/css/colors.min.css" integrity="sha512-eHWmU5oF5LHtxRNeVz4K5kQHlPeZFcFIS2T+tctXWDt6oHEGF7Kr6kh7ARppKmd8uGI0c0948Lfb+PSS14JWRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        /* Your custom CSS styles can go here */
        body {
            font-family: 'Roboto', sans-serif;
        }

        .container {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
